In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.DataFrame(np.arange(4).reshape(2,2))

In [3]:
frame

   0  1
0  0  1
1  2  3

In [4]:
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>3</td>
    </tr>
  </tbody>
</table>

In [5]:
frame = pd.DataFrame( np.random.random((4,4)),
    index = ['white','black','red','blue'],
    columns = ['up','down','right','left'])

In [6]:
frame

             up      down     right      left
white  0.343104  0.502094  0.479284  0.257361
black  0.419932  0.727447  0.261531  0.655102
red    0.496445  0.844074  0.015749  0.515123
blue   0.742559  0.702141  0.453416  0.853867

In [7]:
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>up</th>
      <th>down</th>
      <th>right</th>
      <th>left</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>white</th>
      <td>0.343104</td>
      <td>0.502094</td>
      <td>0.479284</td>
      <td>0.257361</td>
    </tr>
    <tr>
      <th>black</th>
      <td>0.419932</td>
      <td>0.727447</td>
      <td>0.261531</td>
      <td>0.655102</td>
    </tr>
    <tr>
      <th>red</th>
      <td>0.496445</td>
      <td>0.844074</td>
      <td>0.015749</td>
      <td>0.515123</td>
    </tr>
    <tr>
      <th>blue</th>
      <td>0.742559</td>
      <td>0.702141</td>
      <td>0.453416</td>
      <td>0.853867</td>
    </tr>
  </tbody>
</table>

In [9]:
s = ['<HTML>']
s.append('<HEAD><TITLE>My DataFrame</TITLE></HEAD>')
s.append('<BODY>')
s.append(frame.to_html())
s.append('</BODY></HTML>')
html = ".join(s)"

In [10]:
html_file = open('myFrame.html','w')
html_file.write(html)
html_file.close()

In [12]:
web_frames = pd.read_html('myFrame.html')

ValueError: No tables found

In [21]:
ranking = pd.read_html('https://finance.naver.com/item/sise.naver?code=005930', encoding='cp949')
ranking[1]

           0            1       2           3
0        현재가        58400    매도호가       58400
1       전일대비      하락  200    매수호가       58300
2     등락률(%)       -0.34%     전일가       58600
3        거래량      2841996      시가       58700
4   거래대금(백만)       166355      고가       58900
5        액면가         100원      저가       58300
6        NaN          NaN     NaN         NaN
7        상한가        76100    전일상한       78000
8        하한가        41100    전일하한       42000
9        PER         8.86     EPS        6593
10    52주 최고        80800  52주 최저       55700
11      시가총액  3,486,353억원   상장주식수  5969782550
12     외국인현재  2,972,910천주     자본금   778,046백만

In [27]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
index=['white','black','red','blue'],
columns=['up','down','right','left'])
frame.to_json('frame.json')

In [33]:
print(frame.to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>up</th>
      <th>down</th>
      <th>right</th>
      <th>left</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>white</th>
      <td>0</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>black</th>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <th>red</th>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
    </tr>
    <tr>
      <th>blue</th>
      <td>12</td>
      <td>13</td>
      <td>14</td>
      <td>15</td>
    </tr>
  </tbody>
</table>

In [32]:
pd.read_json('frame.json')

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [65]:
from pandas.io.json import json_normalize

In [83]:
content = '''
[{"writer": "Mark Ross",
 "nationality": "USA",
 "books": [
 {"title": "XML Cookbook", "price": 23.56},
 {"title": "Python Fundamentals", "price": 50.70},
 {"title": "The NumPy library", "price": 12.30}
 ]
},
{"writer": "Barbara Bracket",
 "nationality": "UK",
 "books": [
 {"title": "Java Enterprise", "price": 28.60},
 {"title": "HTML5", "price": 31.35},
 {"title": "Python for Dummies", "price": 28.00}
 ]
}]
'''

In [84]:
print(content)

[{"writer": "Mark Ross",
 "nationality": "USA",
 "books": [
 {"title": "XML Cookbook", "price": 23.56},
 {"title": "Python Fundamentals", "price": 50.70},
 {"title": "The NumPy library", "price": 12.30}
 ]
},
{"writer": "Barbara Bracket",
 "nationality": "UK",
 "books": [
 {"title": "Java Enterprise", "price": 28.60},
 {"title": "HTML5", "price": 31.35},
 {"title": "Python for Dummies", "price": 28.00}
 ]
}]

In [88]:
with open('books.json','w') as re:
    re.write(content)

In [89]:
with open('books.json') as fin:
    text = fin.read()
jsobj = json.loads(text)

In [90]:
jsobj

[{'writer': 'Mark Ross',
  'nationality': 'USA',
  'books': [{'title': 'XML Cookbook', 'price': 23.56},
   {'title': 'Python Fundamentals', 'price': 50.7},
   {'title': 'The NumPy library', 'price': 12.3}]},
 {'writer': 'Barbara Bracket',
  'nationality': 'UK',
  'books': [{'title': 'Java Enterprise', 'price': 28.6},
   {'title': 'HTML5', 'price': 31.35},
   {'title': 'Python for Dummies', 'price': 28.0}]}]

In [91]:
import json
file = open('books.json','r')
text = file.read()
text = json.loads(text)

In [92]:
text

[{'writer': 'Mark Ross',
  'nationality': 'USA',
  'books': [{'title': 'XML Cookbook', 'price': 23.56},
   {'title': 'Python Fundamentals', 'price': 50.7},
   {'title': 'The NumPy library', 'price': 12.3}]},
 {'writer': 'Barbara Bracket',
  'nationality': 'UK',
  'books': [{'title': 'Java Enterprise', 'price': 28.6},
   {'title': 'HTML5', 'price': 31.35},
   {'title': 'Python for Dummies', 'price': 28.0}]}]

In [93]:
from pandas.io.pytables import HDFStore

In [94]:
frame = pd.DataFrame(np.arange(16).reshape(4,4),
index=['white','black','red','blue'],
columns=['up','down','right','left'])

In [110]:
store = HDFStore('mydata.h5')
store['obj1'] = frame

In [96]:
frame

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [111]:
store['obj2'] = frame

In [98]:
frame

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [112]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [120]:
store['obj1/obj2'] = df2

In [109]:
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [115]:
df1

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [116]:
df2 = store['obj2']

In [117]:
df2

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [118]:
df2 = df1.copy()

In [119]:
df2

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [124]:
store['obj1/']

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [125]:
store['obj1/obj2/']

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [126]:
 import pickle

In [146]:
data = { 'color': ['white','red'], 'value': [5, 7]}
data

{'color': ['white', 'red'], 'value': [5, 7]}

In [147]:
pickled_data = pickle.dumps(data)

In [148]:
print(pickled_data)

b'\x80\x04\x95/\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x05color\x94]\x94(\x8c\x05white\x94\x8c\x03red\x94e\x8c\x05value\x94]\x94(K\x05K\x07eu.'

In [149]:
nframe = pickle.loads(pickled_data)

In [155]:
nframe

{'color': ['white', 'red'], 'value': [5, 7]}

In [151]:
nn = pd.DataFrame(nframe)

   color  value
0  white      5
1    red      7

# pickle 직렬화

In [ ]:
import pickle

In [160]:
frame

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [157]:
df_ser = pickle.dumps(frame)

In [158]:
with open('df_pickle.ser', 'wb') as fout:
    fout.write(df_ser)

In [159]:
df_ser

b'\x80\x04\x95\x01\x03\x00\x00\x00\x00\x00\x00\x8c\x11pandas.core.frame\x94\x8c\tDataFrame\x94\x93\x94)\x81\x94}\x94(\x8c\x04_mgr\x94\x8c\x1epandas.core.internals.managers\x94\x8c\x0cBlockManager\x94\x93\x94\x8c\tfunctools\x94\x8c\x07partial\x94\x93\x94\x8c\x1cpandas.core.internals.blocks\x94\x8c\tnew_block\x94\x93\x94\x85\x94R\x94(h\x0e)}\x94\x8c\x04ndim\x94K\x02sNt\x94b\x8c\x15numpy.core.multiarray\x94\x8c\x0c_reconstruct\x94\x93\x94\x8c\x05numpy\x94\x8c\x07ndarray\x94\x93\x94K\x00\x85\x94C\x01b\x94\x87\x94R\x94(K\x01K\x04K\x04\x86\x94h\x17\x8c\x05dtype\x94\x93\x94\x8c\x02i4\x94\x89\x88\x87\x94R\x94(K\x03\x8c\x01<\x94NNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK\x00t\x94b\x88C@\x00\x00\x00\x00\x01\x00\x00\x00\x02\x00\x00\x00\x03\x00\x00\x00\x04\x00\x00\x00\x05\x00\x00\x00\x06\x00\x00\x00\x07\x00\x00\x00\x08\x00\x00\x00\t\x00\x00\x00\n\x00\x00\x00\x0b\x00\x00\x00\x0c\x00\x00\x00\r\x00\x00\x00\x0e\x00\x00\x00\x0f\x00\x00\x00\x94t\x94b\x8c\x08builtins\x94\x8c\x05slice\x94\x93\x94K\x00K\x04K\x01\x87\x94R\x94\x86\x94R\x94\x85\x94]\x94(\x8c\x18pandas.core.indexes.base\x94\x8c\n_new_Index\x94\x93\x94h1\x8c\x05Index\x94\x93\x94}\x94(\x8c\x04data\x94h\x16h\x19K\x00\x85\x94h\x1b\x87\x94R\x94(K\x01K\x04\x85\x94h \x8c\x02O8\x94\x89\x88\x87\x94R\x94(K\x03\x8c\x01|\x94NNNJ\xff\xff\xff\xffJ\xff\xff\xff\xffK?t\x94b\x89]\x94(\x8c\x02up\x94\x8c\x04down\x94\x8c\x05right\x94\x8c\x04left\x94et\x94b\x8c\x04name\x94Nu\x86\x94R\x94h3h5}\x94(h7h\x16h\x19K\x00\x85\x94h\x1b\x87\x94R\x94(K\x01K\x04\x85\x94h>\x89]\x94(\x8c\x05white\x94\x8c\x05black\x94\x8c\x03red\x94\x8c\x04blue\x94et\x94bhGNu\x86\x94R\x94e\x86\x94R\x94\x8c\x04_typ\x94\x8c\tdataframe\x94\x8c\t_metadata\x94]\x94\x8c\x05attrs\x94}\x94\x8c\x06_flags\x94}\x94\x8c\x17allows_duplicate_labels\x94\x88sub.'

In [161]:
with open('df_pickle.ser','rb') as fin:
    ser_data = fin.read()
    df2 = pickle.loads(ser_data)

In [162]:
df2

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

In [163]:
frame = pd.DataFrame(np.arange(16).reshape(4,4), index = ['up','down','left','right'])

In [164]:
frame

        0   1   2   3
up      0   1   2   3
down    4   5   6   7
left    8   9  10  11
right  12  13  14  15

In [165]:
frame.to_pickle('frame.pkl')

In [166]:
pd.read_pickle('frame.pkl')

        0   1   2   3
up      0   1   2   3
down    4   5   6   7
left    8   9  10  11
right  12  13  14  15

In [167]:
from sqlalchemy import create_engine