In [ ]:
!pip show pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s = pd.Series([12, -4, 7, 9])
s

In [ ]:
s = pd.Series([12, -4, 7, 9], index=['a','b','c','d'])
s

In [ ]:
s.index

In [ ]:
s.values

In [ ]:
type(s.values)   # numpy.ndarray

In [ ]:
tmp = s.values[s<0]
type(tmp)   # numpy.ndarray
tmp[0]

In [ ]:
s<0

In [ ]:
type(s<0)   # pandas.core.series.Series

In [ ]:
s

In [ ]:
s[0]         # 12
s[[0,1]]

s[s>0]
s[[False,True,False,False]]
type(s[[False,True,False,False]])   # Series
s[[False,True,False,False]][0]      # Scala

s[0:2]

s['a']         # Scala
s[['a','b']]   # Series

In [ ]:
s[0] = 100
s

In [ ]:
s[[0,1]] = -4
s

In [ ]:
s['a'] = 12
s

In [ ]:
s[['a','b']] = -4
s

In [ ]:
s = pd.Series({'a':12, 'b':-4, 'c':7, 'd':9})
s

In [ ]:
s = pd.Series(np.array([12,-4, 7, 9]), index=['a','b','c','d'])
s

In [ ]:
s = pd.Series([12,-4, 7, 9], index=['a','b','c','d'])
s

In [ ]:
s2 = pd.Series(s)
s2

In [ ]:
s2[0], s[0]

In [ ]:
s2[0] = -4
s2, s

In [ ]:
s[s>0]

In [ ]:
nums = [12, -4, 7, 9]
s = pd.Series(nums)
s[1] = 4
s
nums
s2 = pd.Series(s)
s2[0] = 100
s, s2, nums

In [ ]:
s3 = s
s3

In [ ]:
s3[0] = 0
s, s2, s3

In [ ]:
#  Indexer (loc[], iloc[])
# loc[] : labels, boolean
# iloc[] : position integer, boolean

In [ ]:
s

In [ ]:
s.index = ['a','b','c','d']
s

In [ ]:
# loc[] : Labels, Boolean
s.loc['a']
s.loc[['a','b']]
s.loc[[True,False,False,False]]
s.loc[s>5][1]

In [ ]:
# iloc[] : Position integer, Boolean
s.iloc[0]
s.iloc[[0,1]]
s.iloc[[True,False,False,False]]
# s.iloc[s>5]   # ValueError
s.iloc[(s>5).to_list()]
s.iloc[(s>5).to_numpy()]

In [ ]:
type(s.values)  # numpy.ndarray
s.values
s.to_numpy()
s.to_list()

In [ ]:
arr = np.arange(5)
type(arr)
type(arr/2)

In [ ]:
s = pd.Series(arr*2)
s

In [ ]:
s/2

In [ ]:
type(np.sin(arr))

In [ ]:
np.sin(s)

In [ ]:
np.log(arr)
np.log(s)

In [ ]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([3,4,5,6])

s1 + s2

In [ ]:
s1.index = ['a','b','c','d']
s1

In [ ]:
s2.index = ['c','d','e','f']
s2

In [ ]:
s1 + s2

In [ ]:
s = pd.Series({'a':1, 'b':2, 'b':3, 'c':4, 'c':5})
s

In [ ]:
s = pd.Series([1,2,3,3,2], index=['a','b','b','c','c'])
s

In [ ]:
s.unique()  # 값 중에서 중복되지 않게 가져오기

In [ ]:
len(s)   # 5
s.value_counts()  # 각 원소의 갯수

In [ ]:
'h' in 'hello'

In [ ]:
s.isin([2,3])

In [ ]:
dir(s)

In [ ]:
s2 = pd.Series([5, -3, np.NaN, 14])
s2

In [ ]:
s2.isnull()

In [ ]:
s2.notnull()

In [ ]:
np.mean(s2)   # NaN 제외하고 평균

In [ ]:
np.mean(s2[s2.notnull()])

In [ ]:
import pandas as pd
import numpy as np

s = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'], name='점수')

s['f'] = 6
s.loc['g'] = 7

In [ ]:
s.append(pd.Series([8,9]), ignore_index=True)

In [ ]:
pd.concat([s, pd.Series([10])], ignore_index=True)

In [ ]:
s = pd.Series(np.arange(5), index=['a','b','c','d','e'])
s

In [ ]:
s.drop(['a','b'])
s

In [ ]:
s.drop(['a','b'], inplace=True)
s

In [ ]:
del s['c']
s

In [52]:
# sort_values()
np.random.randint((2, 2, 2))
arr = np.random.randint(0,10, 5)
s = pd.Series(arr)
s

0    2
1    2
2    9
3    2
4    7
dtype: int32

In [51]:
s.sort_values()                 # 오름차순
s.sort_values(ascending=False)  # 내림차순

1    6
2    5
3    4
4    2
0    1
dtype: int32

In [59]:
# sort_index()
s.sort_values(ascending=False, inplace=True)
s

2    9
4    7
0    2
1    2
3    2
dtype: int32

In [60]:
s.sort_index(inplace=True)
s

0    2
1    2
2    9
3    2
4    7
dtype: int32

## Series 를 이용한 CRUD 실습

In [1]:
import pandas as pd
import numpy as np

names = pd.Series({11:'smith', 12:'mary', 13:'jone', 14:'laura', 15:'scott'})
subjects = pd.Series(['Java','Spring','Python'])
score = np.zeros((5,3))

In [2]:
m_dic= {'s':'LIST', 'a':'ADD','f':'FIND','u':'UPDATE','d':'DELETE', 'x':'EXIT'}
def menu():
    print('================================================================')
    m = input('목록(s), 추가(a), 검색(번호로 검색, f), 수정(u), 삭제(d), 종료(x):')
    return m_dic.get(m)

In [3]:
def add():
    sNum, name = input('번호 이름').split()
    name = name.strip()
    num = int(sNum.strip())
    idx = np.where(names.loc[num]==name)
    if names.loc[num]!=name:
        print('일치하는 번호와 이름이 없습니다')
    else:
        s1,s2,s3 = input('S1, S2, S3 과목 성적:').split()
        score1 = int(s1.strip())
        score2 = int(s2.strip())
        score3 = int(s3.strip())
        scores[idx] = [score1,score2,score3]
        np.save('scores', scores)
        print('성적입력 성공')

In [4]:
def show_list():
    print('================================================================')
    # 컬럼명
    print('번호\t이름', end='')
    for s in subjects:
        print(f'\t{s}', end='')
    print()
    print('--------------------------------------')
    
    # 데이터
    global scores
    try:
        tmp = np.load('scores.npy')
        scores = tmp
    except IOError as ioe:
        pass

    stid = list(names.index)
    for i in range(len(names)):
        print('{}\t{}\t'.format(stid[i],names[stid[i]]), end='')
        for s in scores[i]:
            print('{}\t'.format(s), end='')
        print()

In [5]:
def print_by_num(sid):
    print('================================================================')
    # 컬럼명
    print('번호\t이름', end='')
    for s in subjects:
        print(f'\t{s}', end='')
    print()
    print('--------------------------------------')
    
    name = names.loc[sid]
    
    print('{}\t{}\t'.format(sid,name), end='')
    idx = np.where(names==name)
    st_score = scores[idx][0]
    for s in st_score:
        print(f'{s}\t', end='')
    print()

In [6]:
def find():
    sNum = input('학생 번호:')
    num = int(sNum)
    print_by_num(num)

In [7]:
def update():
    tmp = input('학생번호:')
    st_num = int(tmp.strip())
    idx = np.where(names==names.loc[st_num])
    
    tmp = input('과목번호(0,1,2) 새 성적:')
    subject_idx, new_score = tmp.strip().split()
    scores[idx, int(subject_idx)] = int(new_score)
    np.save('scores', scores)
    print('--------> 성적 수정 성공')

In [8]:
def delete():
    global names
    global scores
    global subjects
    
    tmp = input('학생정보 삭제(0) 과목삭제(1):')
    axis = int(tmp)
    if axis==0:
        tmp = input('삭제할 학생번호:')
        st_num = int(tmp.strip())
        idx = np.where(names==names.loc[st_num])
        #names = np.delete(names, idx)
        names.drop([st_num], inplace=True)
        scores = np.delete(scores, idx, axis=0)
        print('-------------> 학생정보 삭제 성공')
    elif axis==1:
        tmp = input('삭제할 과목번호(0,1,2):')
        idx = int(tmp.strip())
        #subjects = np.delete(subjects, idx)
        subjects.drop([idx], inplace=True)
        scores = np.delete(scores, idx, axis=1)
        print('-------------> 과목 삭제 성공')

In [9]:
go = True
while go:
    m = menu()
    if m == 'LIST':
        show_list()
    elif m=='ADD':
        add()
    elif m=='FIND':
        find()
    elif m=='UPDATE':
        update()
    elif m=='DELETE':
        delete()
    elif m=='EXIT':
        go = False
    else:
        print('--------> 메뉴입력 오류')
        
print('--------> 프로그램 종료')

================================================================
목록(s), 추가(a), 검색(번호로 검색, f), 수정(u), 삭제(d), 종료(x):s
================================================================
번호	이름	Java	Spring	Python
--------------------------------------
11	smith	85.0	90.0	94.0
12	mary	90.0	76.0	89.0
13	jone	90.0	89.0	83.0
14	laura	93.0	78.0	86.0
15	scott	79.0	87.0	88.0
================================================================
목록(s), 추가(a), 검색(번호로 검색, f), 수정(u), 삭제(d), 종료(x):x
--------> 프로그램 종료